<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>thms</display-name>
  
    <!-- 注册spring的ApplicationContext.xml文件，告诉容器去初始化Spring里面的配置信息(即：实例化对象) -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  	<!-- 监听spring的上下文bean的初始化 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  
  	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- 延续级联session：解决级联失效的问题(一对多的情况下会 session close),但比较消耗性能。非必要性配置 -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
	<!-- 编码拦截控制 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  <!-- SpringMVC注入 核心servlet-->
  <servlet>
  	<servlet-name>servlet</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<!-- 修改默认namespace名 -->
  	<init-param>
  		<param-name>namespace</param-name>
  		<param-value>thms</param-value>
  	</init-param>
  	<!-- ?? -->
  	<load-on-startup>3</load-on-startup>
  </servlet>


  <servlet-mapping>
		<servlet-name>servlet</servlet-name>
		<!-- 拦截所有的请求 *.html -->
		<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.html</location>
  </error-page>
  <error-page>
  	<error-code>405</error-code>
  	<location>/405.html</location>
  </error-page>
  
</web-app>